<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="robots" content="all">

    <link rel="stylesheet" href="theme.css" media="screen, projection" type="text/css">

    <meta name="author" content="Nucera Alexandre, Maigret Aurélien">
    <meta name="description" content="LoL Senpai - Please, teach me how to win is an app aiming to provide valuable information about an upcoming ranked match for a given player. This app would provide the win conditions and various warnings, acting as a coach. It would try to expose the ennemy team's weakness and put the emphasis on good thing about yours.">
    <title>AurelienM EUW - LoL Senpai</title>

    <!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

    <nav id="navigation">
        <div class="container">
            <a href="#" id="logo"><img src="logo.png"></a>
            <ul>
                <li><a href="#">Search</a></li>
                <li><a href="#">Disclaimer</a></li>
                <li><a href="#">About</a></li>
                <li class="little"><a href="#" class="lang lang-english lang-active"><span>ENGLISH</span></a></li>
                <li class="little"><a href="#" class="lang lang-french"><span>FRENCH</span></a></li>
            </ul>
        </div>
    </nav>

    <header>
        <div class="container">
            <h1>AurelienM</h1>
        </div>
    </header>

    <section class="container">
        <article class="good">
            <header>
                <h3>Good news!</h3>
            </header>
            <div>
                <ul>
                    <li>The allied Katarina (SivHD2) may/might be a smurf. It may be a good idea to give him resources.</li>
                    <li>The enney team Alistar (3ffusi0on) has lost 7 ranked in a row. Try to focus him to make him tilt.</li>
                    <li>The allied Ahri (Stegoo) main this champion. This lane should be fine !</li>
                </ul>
            </div>
        </article>
        <article class="danger">
            <header>
                <h3>Be careful!</h3>
            </header>
            <div>
                <ul>
                    <li>The enemy team Yasuo (Toldino) may/might be a smurf, don’t underestimate him !</li>
                    <li>Beware of the synergy between Xerath and Lee sin, they are premade.</li>
                </ul>
            </div>
        </article>
        <article class="advices">
            <header>
                <h3>Advices</h3>
            </header>
            <div>
                <ul>
                    <li>The enemy team is full AD, take armor!</li>
                </ul>
            </div>
        </article>
    </section>

</body>
</html>
