{% extends "base.html" %}

{% block container %}
<h2>Summary</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Latest GIT revision</td>
        <td>{{ latest_git_revision }}</td>
        <td>
            <button type="button" class="btn btn-default btn-xs" id="GitFetchSubmit">GIT FETCH</button>
        </td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>
<p>&nbsp;</p>

<h2>Releases</h2>

<table class="table">
    <thead>
    <tr>
        <th>Image ID</th>
        <th>Repository</th>
        <th>Tag (GIT Revision)</th>
        <th>Created</th>
        <th>Size</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    {% for release in releases %}
    <tr class="{{ release.state }}">
        <td>{{ release.image_id }}</td>
        <td>{{ release.repository }}</td>
        <td>{{ release.tag }}</td>
        <td>{{ release.created }}</td>
        <td>{{ release.size }}</td>
        <td>
            <button type="button" class="btn btn-danger btn-xs{% if not release.is_used %} remove-confirm" data-path="release/{{ release.image_id }}{% else %}" disabled="disabled{% endif %}">Remove</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal_new_release">New release</button>

<p>&nbsp;</p>
<p>&nbsp;</p>

<h2>Containers</h2>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>HAProxy weight</th>
        <th>HAProxy state</th>
        <th>Container ID</th>
        <th>Container image</th>
        <th>Container status</th>
        <th>Container actions</th>
    </tr>
    </thead>
    <tbody>
    {% for container in containers %}
    <tr class="{{ container.state }}">
        <td>{{ container.name }}</td>
        <td>
            {{ container.haproxy_weight }}
            <button type="button" class="btn btn-default btn-xs edit-weight" data-name="{{ container.name }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        </td>
        <td>
            {{ container.haproxy_state }}
            <button type="button" class="btn btn-default btn-xs edit-state" data-name="{{ container.name }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        </td>
        <td>{{ container.container_id }}</td>
        <td>{{ container.container_image }}</td>
        <td>{{ container.container_status }}</td>
        <td>
            <button type="button" class="btn btn-success btn-xs new-container" data-name="{{ container.name }}"{% if container.has_image %} disabled="disabled"{% endif %}>New</button>
            <button type="button" class="btn btn-danger btn-xs{% if container.has_image %} remove-confirm" data-path="container/{{ container.container_id }}{% else %}" disabled="disabled{% endif %}">Remove</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<button type="button" class="btn btn-success" disabled="disabled">Add container</button>

<div class="modal fade" id="modal_weight" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit HAProxy weight of <i id="HAProxyWeightID">?</i></h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="HAProxyWeight" class="col-sm-3 control-label">Weight</label>
                    <div class="col-sm-9">
                        <input id="HAProxyWeight" type="number" class="form-control" placeholder="Integer (the value 0 used to not have new traffic)">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="HAProxyWeightSubmit">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_state" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit HAProxy state of <i id="HAProxyStateID">?</i></h4>
            </div>
            <div class="modal-body">
                <p class="alert alert-warning" role="alert">Disable a server will cause a total interruption of traffic, even those with any requests being served. It is recommended to set a weight of 0 to this server, and wait for the end of the current requests before disabling it completely.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="HAProxyStateEnable">Enable</button>
                <button type="button" class="btn btn-danger" id="HAProxyStateDisable">Disable</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_confirm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Remove <i id="PathRemove">?</i></h4>
            </div>
            <div class="modal-body">
                <p class="alert alert-warning" role="alert">Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="PathRemoveConfirm">Remove</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_new_container" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">New container for <i id="NewContainerName">?</i></h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="DockerImage" class="col-sm-3 control-label">Release</label>
                    <div class="col-sm-9">
                        <select id="DockerImage" class="form-control">
                            {% for release in releases %}
                            <option value="{{ release.image_id }}">{{ release.repository }}:{{ release.tag }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label for="ApiKey" class="col-sm-3 control-label">API Key</label>
                    <div class="col-sm-9">
                        <input id="ApiKey" type="text" class="form-control" placeholder="API key for this instance">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="NewContainerSubmit">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_new_release" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">New release</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label for="GITRevision" class="col-sm-3 control-label">GIT Revision</label>
                    <div class="col-sm-9">
                        <input id="GITRevision" type="text" class="form-control" value="{{ latest_git_revision }}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="NewReleaseSubmit">Add</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    var modal_weight = $("#modal_weight");
    $(".edit-weight").click(function () {
        $("#HAProxyWeightID", modal_weight).text($(this).attr('data-name'));
        modal_weight.modal('show');
    });

    var modal_state = $("#modal_state");
    $(".edit-state").click(function () {
        $("#HAProxyStateID", modal_state).text($(this).attr('data-name'));
        modal_state.modal('show');
    });

    var modal_confirm = $("#modal_confirm");
    $(".remove-confirm").click(function () {
        $("#PathRemove", modal_confirm).text($(this).attr('data-path'));
        modal_confirm.modal('show');
    });

    var modal_new_container = $("#modal_new_container");
    $(".new-container").click(function () {
        $("#NewContainerName", modal_new_container).text($(this).attr('data-name'));
        modal_new_container.modal('show');
    });

    var modal_new_release = $("#modal_new_release");

    $("#GitFetchSubmit").click(function(){
        document.location.href = "/execute/git/fetch";
    });
    $("#HAProxyWeightSubmit", modal_weight).click(function(){
        document.location.href = "/execute/haproxy/" + $("#HAProxyWeightID", modal_weight).text() + "/weight/" + $("#HAProxyWeight", modal_weight).val();
    });
    $("#HAProxyStateEnable", modal_state).click(function(){
        document.location.href = "/execute/haproxy/" + $("#HAProxyStateID", modal_state).text() + "/state/enable";
    });
    $("#HAProxyStateDisable", modal_state).click(function(){
        document.location.href = "/execute/haproxy/" + $("#HAProxyStateID", modal_state).text() + "/state/disable";
    });
    $("#PathRemoveConfirm", modal_confirm).click(function(){
        document.location.href = "/execute/" + $("#PathRemove", modal_confirm).text() + "/remove";
    });
    $("#NewContainerSubmit", modal_new_container).click(function(){
        document.location.href = "/execute/container/" + $("#NewContainerName", modal_new_container).text() + "/new/"
        + $("#DockerImage", modal_new_container).val() + "/" + $("#ApiKey", modal_new_container).val();
    });
    $("#NewReleaseSubmit", modal_new_release).click(function(){
        document.location.href = "/execute/release/new/" + $("#GITRevision", modal_new_release).val();
    });
</script>
{% endblock %}
