<!DOCTYPE html>
<html lang="{{ g.lang }}">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="robots" content="all">

    <link rel="icon" type="image/png" href="/static/favicon.png" />

    <link rel="stylesheet" href="/static/styles.css" media="screen, projection" type="text/css">

    <meta name="author" content="Nucera Alexandre, Maigret Aurélien">
    <meta name="description" content="LoL Senpai - Please, teach me how to win is an app aiming to provide valuable information about an upcoming ranked match for a given player. This app would provide the win conditions and various warnings, acting as a coach. It would try to expose the ennemy team's weakness and put the emphasis on good thing about yours.">
    <title>{% block title %}{{ title }}{% endblock %} - LoL Senpai</title>

    <!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% endblock %}
</head>
<body>

    <nav id="navigation">
        <div class="container">
            <a href="/{{ g.lang }}" id="logo"><img src="/static/logo_lol-senpai.png"></a>
            <div class="widgets">
                <span>{% include "search.html" %}</span>
                <span><a href="#" class="lang lang-en"><span>ENGLISH</span></a></span>
                <span><a href="#" class="lang lang-fr"><span>FRENCH</span></a></span>
            </div>
            <span class="clear"></span>
        </div>
    </nav>

    <div class="body">
        <section class="container">
            {% block content %}{% endblock %}
        </section>
    </div>

    <footer id="footer">
        <div class="container">
            <p>
                <a href="/{{ g.lang }}">Search a summoner</a>
                <a href="/{{ g.lang }}">FAQ</a>
                <a href="/{{ g.lang }}">About</a>
                <br>
                Copyright LoL-Senpai 2015
            </p>
        </div>
    </footer>

    <script type="text/javascript" src="/static/script.js"></script>

</body>
</html>
