<div id="faq">
    <h2>{{ _("What is LoL Senpai?") }}</h2>
    <article>
        <p>{{ _("LoL Senpai is a tool aiming to support ranked players in the video game League of legends. It provides advices about the upcoming ranked game and your opponents.") }}</p>
        <p>{{ _("Gathering info about your enemy by hand is a tedious process that you cannot always achieve within the limited time of the loading screen.") }}</p>
        <p>{{ _("LoL Senpai acts as a mini-coach and tell you what are the key information about the upcoming game.") }}</p>
    </article>

    <h2>{{ _("Which kind of info do you provide?") }}</h2>
    <article>
        <p>{{ _("We put emphasis on the enemy's weaknesses and on your team's strengths, leaving out weaknesses about your own team. The reason behind that is that we want to put you in a positive mindset.") }}</p>
        <p>{{ _("Information provided concern, but are not limited to:") }}</p>
        <ul>
            <li>{{ _("Strength with a champion or on a specific role") }}</li>
            <li>{{ _("Wards coverage") }}</li>
            <li>{{ _("Suitability of runes") }}</li>
            <li>{{ _("Winning/Losing streaks") }}</li>
            <li>{{ _("And much more") }}</li>
        </ul>
    </article>

    <h2>{{ _("Who can benefit from these information?") }}</h2>
    <article>
        <p>{{ _("Basically, every summoner interested in the ranked mode can benefit from these information.") }}</p>
        <p>{{ _("However, we believe that high ranked players (starting from mid diamond and above) would not find this tool as useful as other players.") }}</p>
        <p>{{ _("Additionally, each information is provided with an optional description, helping out players to interpret it.") }}</p>
    </article>

    <h2>{{ _("What's next?") }}</h2>
    <article>
        <p>{{ _("17 days was a small window to create something meaningful and we could not implement everything that we have imagined. Hopefully, the next updates will concern the following matters.") }}</p>

        <h3>{{ _("Improve the performance of our application and servers") }}</h3>
        <p>{{ _("We know that the site is really slow at the moment and we are working on it.") }}</p>

        <h3>{{ _("More description related to advices") }}</h3>
        <p>{{ _("Right now, descriptions related to advices are incomplete.") }}</p>

        <h3>{{ _("Information about runes") }}</h3>
        <p>{{ _("We did not even scratch the surface of what we want to achieve with runes. Ideally, we would like to warn summoners about:") }}</p>
        <ul>
            <li>{{ _("Plain wasted runes (mana regen/energy regen on champ who does not need it)") }}</li>
            <li>{{ _("Sub optimal runes (player running tier1/tier2 runes or pages with incomplete rune pages)") }}</li>
            <li>{{ _("Questionable runes (Fiddle jungle running ad runes or no armor runes when the opposite team is full ad comp)") }}</li>
            <li>{{ _("Cheesy runes (a riven running a full ad page is dangerous and is something we should warn the player about)") }}</li>
        </ul>

        <h3>{{ _("Persistent storage of information for a ‘machine learning'") }}</h3>
        <p>{{ _("For this contest, we only provided information using on the fly data. We could go much further.") }}</p>
        <p>{{ _("For the instance we could imagine giving detailed info about a specific upcoming matchup within the elo range of the player based on historical data on a given patch.") }}</p>
        <p>{{ _("The elo range thing is really important to us, there is no point of telling a silver player that Vayne top played a certain way is really strong versus some champions when it’s only a diamond+ thing and really hard to execute.") }}</p>
        <p>{{ _("Most counter champion sites are only based on votes from the community. This is not accurate.") }}</p>
        <p>{{ _("What if we could query tons of match history to determine the real outcome of a matchup and power spikes of each champion using real, meaningful data for the player?") }}</p>
        <p>{{ _("These data could also be useful to determine a viable builder order.") }}</p>
        <p>{{ _("We could also imagine to evaluating the strength of each team based on their composition and give a game plan like a coach would do.") }}</p>
        <i>{{ _("\"Ok guys, you have an early comp, you should try push your advantages to end it because their Nasus and Cassiop are going to rip you apart past the 35min mark. Your Lee sin is proven to be a strong ganker, try to focus on toplane to shut Nasus down\".") }}</i>
        <p>{{ _("This kind of thing is obvious to high ranked players, but could really help bronze/silver players to step up their games and climb faster.") }}</p>
    </article>
</div>

