{% extends "base.html" %}

{% block content %}

    <h1>LoL-Senpai</h1>

    <h2>What is it ?</h2>

    <p>Description de LoL-Senpai ... lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum
        and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem
        ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum.
        Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem
        ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum.</p>

    <h2>FAQ</h2>

    <p>FAQ LoL-Senpai ... lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum
        and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem
        ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum.
        Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem
        ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum.</p>

    <h2>About</h2>

    <p>About LoL-Senpai ... lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum
        and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem
        ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum.
        Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem
        ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum. Lorem ipsum and lorem ipsum.</p>

{% endblock %}
