{% extends "base.html" %}

{% block search_desktop %}{% endblock %}

{% block body %}
    <div class="body">
        <div class="container no-mobile">
            <section>
                <div class="home">
                    <strong>Teach me plz!</strong>
                    <img src="/static/logo_home.png">
                    <span>{% include "search.html" %}</span>
                </div>
            </section>
        </div>

        <div class="container">
            <section>
                {% include "faq.html" %}
            </section>
        </div>
    </div>
{% endblock %}
