{% extends "base.html" %}

{% block content %}
<article class="good">
    <header>
        <h3>Good news!</h3>
    </header>
    <div>
        <ul>
            <li>The allied Katarina (SivHD2) may/might be a smurf. It may be a good idea to give him resources.</li>
            <li>The enney team Alistar (3ffusi0on) has lost 7 ranked in a row. Try to focus him to make him tilt.</li>
            <li>The allied Ahri (Stegoo) main this champion. This lane should be fine !</li>
        </ul>
    </div>
</article>
<article class="danger">
    <header>
        <h3>Be careful!</h3>
    </header>
    <div>
        <ul>
            <li>The enemy team Yasuo (Toldino) may/might be a smurf, don’t underestimate him !</li>
            <li>Beware of the synergy between Xerath and Lee sin, they are premade.</li>
        </ul>
    </div>
</article>
<article class="advices">
    <header>
        <h3>Advices</h3>
    </header>
    <div>
        <ul>
            <li>The enemy team is full AD, take armor!</li>
        </ul>
    </div>
</article>
{% endblock %}
