<span class="w_search">
    <form class="form_summoner_search">
        <input name="summoner_name" type="text" placeholder="Search a summoner ...">
        <label>
            <select name="summoner_region">
                <option value="na">NA</option>
                <option value="euw" selected>EUW</option>
                <option value="eune">EUNE</option>
                <option value="br">BR</option>
                <option value="tr">TR</option>
                <option value="ru">RU</option>
                <option value="lan">LAN</option>
                <option value="las">LAS</option>
                <option value="oce">OCE</option>
            </select>
        </label>
        <button type="submit">
            <img height="12" width="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAIFSURBVHjafJCxalRBFIb/M2fuvXN3s31KLWwigpVYChEMlqKdhc2CouIjqA9gGRRRfIGQKgiKtQgKio1oFQUhxd67YTezzpx7Z45F3KAW+eArP/7DoaZpAADOudPGmHvW2ksAqpTSWxF5UhTF6xgjVBV/YwCgKIprdV1/cM6NAUxVdbcoi43RaPSKmR/9HwEAZrPZmZxzTCl9m81mZ9u2RdM0aNt2VUS2VFW99+PpdIr9/f0jKYTwuKqqm/P5/FxK6T0RoAqoKqy1g8Fg8BlADiGsEVF/dCozr4vIR+/9+xgj+j7BGANjCDnnhYhsG2NOhRBOLhYLLDUAHIDIzGBm5JzR9z0AgqpCVePhhjKgWGpTSu/KsrxSVdUJItrtug4pJTAzjDEoy/Kiqu45V//456sxxqdExM65zZzzKOeMnDMARV3XD6y152OMmzHGhYhgqe267k0I4aFz7r619msIYSfnHOq6XmfmNQBg5g1r7U8ReUFEh5OTSYP5fA7v/VUR+aR/6Pv+u/f+dgjhuapqzlm993fatsVkMgFNJg2cq5BSgogY59yqMcaGEPYASFmWF1ZWVnYADAHAez+OMT47CnNOEBE450DECOEXiAhEBGa+PBwOt4wxtapmERkbHAMRIaWEGOPLEMJ1AEJEhpnvHhsuYyJC13XbBwcHN7qu++K9v/V7AHZYSvhJ4uT1AAAAAElFTkSuQmCC" />
        </button>
    </form>
</span>

