<span class="w_search">
    <form class="form_summoner_search">
        <input name="summoner_name" type="text" placeholder="Search an in-game summoner...">
        <label>
            <select name="summoner_region">
                <option value="na">NA</option>
                <option value="euw" selected>EUW</option>
                <option value="eune">EUNE</option>
                <option value="br">BR</option>
                <option value="tr">TR</option>
                <option value="ru">RU</option>
                <option value="lan">LAN</option>
                <option value="las">LAS</option>
                <option value="oce">OCE</option>
            </select>
        </label>
        <button type="submit"><i class="icon search"></i><span class="no-mobile"> SEARCH</span></button>
    </form>
</span>
